
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
   
}

/* Set a background color and font styles */
body {
    background:gray;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;

    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Add additional styles for specific elements or classes as needed */

/* Container element */

.container {

    width: 90%;
    max-width: 1200px;
    margin: 20px;
    
    

    
}
/* Style for create task button */

#createTaskBtn{

    padding: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    width: auto;


}


/* Style for colums section */


.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

/* Style for column element */

.column {

    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:0 10px;
    margin-bottom: 20px;
    width: 80%;
   
}

/* Style for column title */

.column h2{
    text-align: center;
    margin-bottom: 20px;
}

/* Style for list element */

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;

    /*this may not be necessary*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .task-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Style for delete task section */

li .delete-task {
    display: flex;
    gap: 5px;
}



/* Style for task status type */

#todo{


}

#inProgress{}

#done{}

/* Style for the elements of the colums depending on the status*/

#todoList{}

#inProgressList{}

#doneList{}

/* Style for the modal */

.modal{
   display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    
}

.modalContent{
    background-color: white;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modalContent label{
    font-weight: bold;
    margin-top: 10px;
}

.close {
        color: #aaa;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 28px;
        font-weight: bold;
}

.modalContent input,  .modalContent select {
   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalContent button {

    align-self: flex-end;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}




/* Style for table screen sizes */

@media (min-width: 481px) {
    .column {
        width: 60%;
    }
}

/* Style for desktop screen sizes */

@media (min-width: 821px) {
    .columns {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap; /* Prevent wrapping */
    }

    #createTaskBtn:hover {
        background-color: #218838;
    }
    

    .column {
        width: 30%;
        margin: 0 10px; /* Add margin on left and right */
    }

    .close:hover{
        color: black;
        

    }

    .modalContent button:hover {
        background-color: #218838;
    }




}






