
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and font styles */
body {
    background:gray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Add additional styles for specific elements or classes as needed */

/* Container element */

.container {

    width:90%;  




    
}
/* Style for create task button */

#createTaskBtn{


}

/* Style for colums section */


.columns {
    display: flex;
    justify-content: column;
    align-items: center;
   
    
}

/* Style for column element */

.column {

    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:0 10px;
    margin-bottom: 20px;


}

/* Style for task status type */

#todo{


}

#inProgress{}

#done{}

/* Style for the elements of the colums depending on the status*/

#todoList{}

#inProgressList{}

#doneList{}



